<div id="post_show_page" style="height: 100vh;">
  <div class="card m-2" style="width: 50%; min-height: 250px; position:relative; left: 25%;">
    <div class="card-body">
      <div class="card-text p-3 mt-1 bg-light" style="min-height: 180px;">
        <%= form_with( model: [:post, comment]) do |form| %>
          <% if comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(comment.errors.count, "error") %> 件の入力エラーがあります:</h2>
              <ul>
              <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :text, :class => 'require' %>
            <%= form.text_field :text %>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <span style="float: right;">
    <%= link_to 'ホームへ戻る', posts_path %>
  </span>
</div>
