<%= form_for(post, data: { remote: true }, :html => {:class => "post-create"}) do |f| %>
  <div class="card m-2" style="width: 50%; min-height: 250px; position:relative; left: 25%; background-color: #FFECF9;">
      <div class="card-body">
        <div class="field m-2">
          <%= f.text_field :text, :class => 'text_input',placeholder: "いまどうしてる？"%>
        </div>
          <div class="field">
        <%= f.fields_for :images do |image_form| %>
            <%= image_form.file_field :image, style: "margin-bottom: 2px;" %>
        <% end %>
          <%= f.label :publishing_policy %>
          <%= f.select :publishing_policy, Post.publishing_policies.keys,{selected: 'unlimited'} %>
          </div>
        <div class="actions">
          <%= f.submit 'post' %>
        </div>
      </div>
  </div>
<% end %>
