<p id="notice"><%= notice %></p>
<p>
  <strong>投稿者:</strong>
  <%= @post.user.name %>
</p>
<p>
  <strong>投稿内容:</strong>
  <%= @post.text %>
</p>
<p>
  <strong>公開設定:</strong>
  <%= @post.browse_status %>
</p>
<% if @post.user_id == current_user.id %>
  <%= link_to '編集', edit_post_path(@post) %> |
  <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除しますか？' } %> |
<% end %>
<%= link_to 'ホームへ戻る', posts_path %>